@model IEnumerable<EmployeesModel.EmployeeDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Employees</h2>

@using (Html.BeginForm("Search", "Employee"))
{
    <div>
        <label>Id Employee</label>
        @Html.TextBox("idEmployee")
        <input type="submit" name="name" value="Search" />

    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnnualSalary)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ContractTypeName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RoleName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AnnualSalary)
    </td>
</tr>
}

</table>
